@font-face {
  font-family: "Nirmalagraphics";
  src: url(/fonts/Marion-OVZjo.ttf);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-image: url(/images/Blue_bg.jpg);
  padding: 0px;
  margin: 0px;
  color: white;
  font-family: "Nirmalagraphics";
}

.App {
  height: 100%;
}

button {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
  border: 1px solid white;
  color: white;
  border-radius: 6px;
  background-color: transparent;
}

button:hover {
  border: 1px solid white;
  color: black;
  border-radius: 6px;
  background-color: white;
}
