.InnerCart {
  display: flex;
}

.InnerCart span {
  color: rgb(255, 72, 72);
}
.erronName {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
}

input {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
}

@media only screen and (max-width: 1700px) {
  .ProductList {
    display: block;
  }
  .ProductDiv {
    max-width: 200px;
  }
}

@media only screen and (max-width: 650px) {
  .InnerCart {
    display: block;
  }
  .InnerCart form {
    display: block;
  }
}
