.InnerFooter {
  text-align: center;
  letter-spacing: 3px;
  font-size: 14px;
  height: 100%;
  padding-bottom: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 20px;
}
