@font-face {
  font-family: "ZILAP Studio";
  src: url(/fonts/ZilapBestialDemo-MVYDx.ttf);
}

.Navigation {
  min-height: 60px;
  font-family: "ZILAP Studio";
}

.Brand {
  width: 20%;
  justify-content: flex-start;
  font-size: 24px;
  margin-left: 1%;
  cursor: default;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.NavigationLink {
  width: 90%;
  margin-right: 15%;
  text-decoration: none;
  justify-content: flex-end;
}

.NavigationLink a {
  margin: 0 2% 0 0;
  color: white;
  font-size: 32px;
}

.NavigationLink a:hover {
  color: bisque;
  text-decoration: none;
}

.active {
  border-bottom: 2px solid white;
}

.collapsed .Navigation {
  min-height: 100px;
}
.navbar-nav {
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .Navigation div {
    display: flex;
    justify-content: flex-start;
  }
  .navbar-nav {
    align-items: flex-start;
  }
}
